<!DOCTYPE html>
<html>
	<body>
		   <h1>List of movies</h1>
		   <ul>
		   		{% for movie in movie_list %}
		   		<li>{{movie.movie.name}}</li>
		   		<li>{{ movie.songname }}</li>
		   		 {% endfor %}

		   </ul>
	</body>
</html>
