{% extends 'musico/nav.html' %}{% block content %}
<div class="container">
 <h1>Add albums: </h1>
   <div class="row" style="margin:20px;">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Upload</button>
</form>
</div>
</div>
{% endblock %}
