<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <a class="navbar-brand" href="/home/">Home</a>

    <ul class="navbar-nav  ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/userauth/signup/">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/userauth/login/">Login</a>
      </li>
    </ul>
  </nav>

{% block content %}
{% endblock %}
</body>
</html>

