<h1>Registration form</h1>
<form method = "post">
	{% csrf_token %}
	{% for field in form %}
	<p>{{ field.label_tag }}</p>
	<p>{{ field }}</p>
	{% for error in field.errors %}
		<p style="color:red;">
			{{ error }}
		</p>
	{% endfor %}
	{% endfor %}
	<button type="submit">Submit</button>
</form>